<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.kwasow.codeedit">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name="com.github.kwasow.codeedit.MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.github.kwasow.codeedit.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.github.kwasow.codeedit.ServerAddActivity"/>
        <activity android:name="com.github.kwasow.codeedit.ServerDetailsActivity"/>
        <activity android:name="com.github.kwasow.codeedit.TerminalActivity"/>
        <activity android:name="com.github.kwasow.codeedit.FilesActivity"/>

        <service android:name="com.github.kwasow.codeedit.utils.ConnectionService"/>

        <receiver android:name="com.github.kwasow.codeedit.receivers.NotificationReceiver"/>
    </application>

</manifest>